x-cardano-node-3: &cardano-node-3
  image: ghcr.io/intersectmbo/cardano-node:10.5.3
  environment:
    CARDANO_BLOCK_PRODUCER: true
  command: >
    run --topology /configs/configs/topology.json
      --config /configs/configs/config.json
      --database-path /state
      --socket-path /state/node.socket
      --tracer-socket-path-connect /tracer/tracer.socket
      --shelley-operational-certificate /configs/keys/opcert.cert
      --shelley-kes-key /configs/keys/kes.skey
      --shelley-vrf-key /configs/keys/vrf.skey
      --port 3001
      --host-addr 0.0.0.0
      +RTS -N -A16m -qg -qb -RTS
  restart: always
  depends_on:
    configurator:
      condition: service_completed_successfully
    tracer-sidecar:
      condition: service_started

x-cardano-node-1: &cardano-node-1
  image: ghcr.io/intersectmbo/cardano-node:10.5.1
  environment:
    CARDANO_BLOCK_PRODUCER: true
  command: >
    run --topology /configs/configs/topology.json
      --config /configs/configs/config.json
      --database-path /state
      --socket-path /state/node.socket
      --tracer-socket-path-connect /tracer/tracer.socket
      --shelley-operational-certificate /configs/keys/opcert.cert
      --shelley-kes-key /configs/keys/kes.skey
      --shelley-vrf-key /configs/keys/vrf.skey
      --port 3001
      --host-addr 0.0.0.0
      +RTS -N -A16m -qg -qb -RTS
  restart: always
  depends_on:
    configurator:
      condition: service_completed_successfully
    tracer-sidecar:
      condition: service_started

services:
  configurator:
    image: ghcr.io/cardano-foundation/cardano-node-antithesis/configurator:latest
    container_name: configurator
    volumes:
      - ./testnet.yaml:/testnet.yaml #  source of configurations
      - p1-configs:/configs/1 # configs for p1
      - p2-configs:/configs/2 # configs for p2
      - p3-configs:/configs/3 # configs for p3
      - p4-configs:/configs/4 # configs for p4
      - p5-configs:/configs/5 # configs for p5

  adversary:
    image: ghcr.io/cardano-foundation/cardano-node-antithesis/adversary:latest
    container_name: adversary
    volumes:
      - p1-configs:/configs
      - p1-state:/state

  tracer:
    image: ghcr.io/intersectmbo/cardano-tracer:10.6.0

    hostname: tracer.example
    container_name: tracer
    volumes:
      - tracer:/opt/cardano-tracer
      - ./tracer-config.yaml:/tracer-config.yaml:ro
    entrypoint: cardano-tracer
    command:
      - "--config"
      - "/tracer-config.yaml"
    restart: always

  p1:
    <<: *cardano-node-1
    container_name: p1
    hostname: p1.example
    volumes:
      - p1-configs:/configs:ro
      - p1-state:/state
      - tracer:/tracer
  p2:
    <<: *cardano-node-1
    container_name: p2
    hostname: p2.example
    volumes:
      - p2-configs:/configs:ro
      - tracer:/tracer
  p3:
    <<: *cardano-node-1
    container_name: p3
    hostname: p3.example
    volumes:
      - p3-configs:/configs:ro
      - tracer:/tracer

  p4:
    <<: *cardano-node-3
    container_name: p4
    hostname: p4.example
    volumes:
      - p4-configs:/configs:ro
      - tracer:/tracer

  p5:
    <<: *cardano-node-3
    container_name: p5
    hostname: p5.example
    volumes:
      - p5-configs:/configs:ro
      - tracer:/tracer

  sidecar:
    image: ghcr.io/cardano-foundation/cardano-node-antithesis/sidecar:452fae1
    environment:
      NETWORKMAGIC: 42
      PORT: 3001
      LIMIT: 100
      POOLS: "5"
      NCONNS: 1
      CHAINPOINT_FILEPATH: "/opt/cardano-tracer/chainPoints.log"
    container_name: sidecar
    hostname: sidecar.example
    volumes:
      - tracer:/opt/cardano-tracer # to read chain points
    depends_on:
      tracer-sidecar:
        condition: service_started
    restart: always
    tmpfs:
      - /tmp

  tracer-sidecar:
    image: ghcr.io/cardano-foundation/cardano-node-antithesis/tracer-sidecar:591492
    container_name: tracer-sidecar
    hostname: tracer-sidecar.example
    command:
      - "/opt/cardano-tracer/logs"
    environment:
      POOLS: "5"
      CHAINPOINT_FILEPATH: "/opt/cardano-tracer/chainPoints.log"
    volumes:
      - tracer:/opt/cardano-tracer
    restart: always
    depends_on:
      tracer:
        condition: service_started

volumes:
  tracer:
  p1-configs:
  p2-configs:
  p3-configs:
  p4-configs:
  p5-configs:
  p1-state:

networks:
  default:
    name: cardano-node-testnet
    driver: bridge
    internal: ${INTERNAL_NETWORK}
